{% extends 'includes/inc_menu.html' %}
{% block content %}
{% load static %}

<section class="caviar-about-us-area section-padding-150" id="about">
    <div class="container">

        <div class="row align-items-center">
            <div class="col-12 col-md-6">
                <div class="about-us-thumbnail wow fadeInUp" data-wow-delay="0.5s">
                    <img src="{% static 'img/bg-img/about-1.jpg' %}" alt="">
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-5 ml-md-auto">
                <div class="section-heading">
                    <h2>О ресторане</h2>
                </div>
                <div class="about-us-content">
                    <span>Стиль ресторана</span>
                    <p> Тёмная отделка, открытые системы коммуникаций, многочисленные встроенные и подвесные светильники
                        и мощные деревянные балки в виде треугольников делают пространство более объёмным и свободным.
                        Практически полное отсутствие декоративных перегородок и открытая кухонная зона создают
                        атмосферу душевности и единения посетителей и работников. </p>
                </div>
            </div>
        </div>

        <div class="about-us-second-part">
            <div class="row align-items-center pt-200">
                <div class="col-12 col-md-6 col-lg-5">
                    <div class="section-heading">
                        <h2>Что для нас важно</h2>
                    </div>
                    <div class="about-us-content">
                        <span>Миссия и ценности</span>
                        <p>Мы стремимся стать самым известным и лучшим ресторанном в мире
                            Мы ценним в поффесионализм и уют.</p>
                    </div>
                </div>
                <div class="col-12 col-md-6 ml-md-auto">
                    <div class="about-us-content" data-wow-delay="0.5s">
                        <img src="{% static 'img/bg-img/about-2.jpg' %}" alt="">
                    </div>
                </div>
            </div>
        </div>

        <div class="about-us-last-part">
            <div class="row align-items-center pt-200">
                <div class="col-12 col-md-6">
                    <div class="about-us-content">
                        <img src="{% static 'img/bg-img/about-1.jpg' %}" alt="">
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-5 ml-md-auto">
                    <div class="section-heading">
                        <h2>Наша команда</h2>
                    </div>
                    <div class="about-us-content">
                        <span>Лучшие сотрудники</span>
                        <p> fgfdsgfdsgsfdgfdsfsdg </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}