{% extends 'includes/inc_menu.html' %}
{% block content %}

<div class="row mb-2">
    {% for user in object_list %}
    <div class="col-md-6">
        <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
            <div class="col p-4 d-flex flex-column position-static">
                <strong class="d-inline-block mb-2 text-primary-emphasis">{{ user.first_name }}</strong>
                <h5 class="mb-0">Email: {{ user.email }}</h5>
                <div class="mb-1 text-body-secondary">Имя: {{ user.first_name }}</div>
                <div class="mb-1 text-body-secondary">Фамилия: {{ user.last_name }}</div>
                <div class="mb-1 text-body-secondary">Телефон: {{ user.phone }}</div>
                <p class="card-text mb-auto"></p>
                <a href="{% url 'users:user_update' user.pk %}"
                   class="button">
                    Редактировать
                </a>
                <a href="{% url 'users:user_detail' user.pk %}"
                   class="button">
                    Посмотреть
                </a>
                {% if perms.mailing.mailing_delete %}
                <a href="{% url 'users:user_delete' user.pk %}"
                   class="button">
                    Удалить
                </a>
                {% endif %}
            </div>
            <div class="col-auto d-none d-lg-block">
                <svg class="bd-placeholder-img" width="200" height="250" xmlns="http://www.w3.org/2000/svg" role="img"
                     aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>
                    Placeholder</title>
                    <rect width="100%" height="100%" fill="#55595c"/>
                    <text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text>
                </svg>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}